configuration {
    lines: 12;
    font: "Source Sans Pro 25";
    show-icons: true;
    theme: "oxide";
    terminal: "kitty";
    sidebar-mode: true;
    display-window: "Window";
    display-drun: "Drun";
    kb-row-tab: "Tab";
    kb-mode-next: "space";
    run-shell-command: "{terminal} -e '{cmd}'";
/*  modi: "window,run,ssh";  */
/*  there are no space between modes */
/*  drun modes use Shift+Enter run shell cmd */
    modi: "drun,window,swap:~/.config/rofi/swap.sh";
}
