set surround
set commentary
set argtextobj
set g:argtextobj_pairs="(:),{:},<:>"

nnoremap Y y$

nnoremap oo o
nnoremap OO O

nnoremap <silent> o :<C-u>call append(line("."),   repeat([""], v:count1))<CR>
nnoremap <silent> O :<C-u>call append(line(".")-1, repeat([""], v:count1))<CR>

inoremap jk <esc>
inoremap JK <esc>
inoremap <C-A> <Home>
inoremap <C-B> <Left>
inoremap <C-E> <End>
inoremap <C-F> <Right>
inoremap <C-K> <Esc>lDa
inoremap <C-U> <Esc>d0xi
inoremap <C-Y> <Esc>Pa
inoremap <C-X><C-S> <Esc>:w<CR>a
inoremap <C-h> <Left>
inoremap <M-x> <Esc>:
inoremap <M-f> <Esc>lwi
inoremap <M-b> <Esc>bi
inoremap <M-S-f> <Esc>lWi
inoremap <M-S-b> <Esc>Bi
