quit <C-q>
new_window aa
screen_down         <C-d>
screen_up           <C-u>
add_highlight		nnn
move_left           l
move_right          h
# Goto the next search item. Can be prefixed with a number which is the same as performing the command n times
# for example if we are on the 10th search result and we input 15n, we go to the 25th search result.
next_item n
# Goto the previous search result. Can be prefixed with a number with similar rules as next_item.
previous_item N
