[credential]
	helper = store
[user]
	name = Jiashu Xu
	email = jxu1@fas.harvard.edu
[core]
	autocrlf = input
	filemode = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only
[init]
	defaultBranch = main
[merge]
	conflictStyle = diff3
[safe]
	directory = /home/chris/test/new/cent/books/notes/logseq
	directy = /home/jxu/Data/cent/logseq
